h3{
    color: red;
}
#p1 {
    color: red;
}
#p2 {
    color: red;
}
#p3 {
    color: black;
}
#p4 {
    color: red;
}
h4 {
    color: green;
}
#p5 {
    color: green;
}
#p6 {
    color: green;
}
li {
    color: green;
}
